# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Ignore IDEA project files
.idea

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/

/.settings
/*.project
/*.classpath
/*.checkstyle
/.idea
*.iml
*.eml

*rebel.xml

common-util/target
unit4j-api/target
unit4j-core/target
unit4j-spring-boot-starter/target
unit4j-support-fastjson/target
unit4j-support-jackson/target
unit4j-support-mybatis/target
unit4j-support/target
