config.stopBubbling = true
lombok.accessors.fluent=true
lombok.accessors.chain=true
lombok.fieldDefaults.defaultPrivate = true
lombok.fieldDefaults.defaultFinal = true
lombok.equalsAndHashCode.callSuper = call
lombok.log.fieldIsStatic=true
lombok.singular.useGuava=true
lombok.addLombokGeneratedAnnotation = true