<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.caotc.unit4j.support.mybatis.mapper.DoctorTeamMemberMapper">

  <sql id="baseColumnList">
        id,is_deleted,gmt_created,gmt_modified,doctor_team_id,doctor_id
    </sql>

  <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    parameterType="org.caotc.unit4j.support.mybatis.model.DoctorTeamMemberDO">
    insert into doctor_team_member(
    <trim suffixOverrides=",">
      is_deleted,
      gmt_created,
      gmt_modified,
      doctor_team_id,
      doctor_id,
    </trim>
    )
    values (
    <trim suffixOverrides=",">
      #{isDeleted},
      #{gmtCreated},
      #{gmtModified},
      #{doctorTeamId},
      #{doctorId.value},
    </trim>
    )
  </insert>

  <insert id="insertSelective" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    parameterType="org.caotc.unit4j.support.mybatis.model.DoctorTeamMemberDO">
    insert into doctor_team_member(
    <trim suffixOverrides=",">
      <if test="isDeleted!= null">is_deleted,</if>
      <if test="gmtCreated!= null">gmt_created,</if>
      <if test="gmtModified!= null">gmt_modified,</if>
      <if test="doctorTeamId!= null">doctor_team_id,</if>
      <if test="doctorId!= null">doctor_id,</if>
    </trim>
    )
    values (
    <trim suffixOverrides=",">
      <if test="isDeleted!= null">#{isDeleted},</if>
      <if test="gmtCreated!= null">#{gmtCreated},</if>
      <if test="gmtModified!= null">#{gmtModified},</if>
      <if test="doctorTeamId!= null">#{doctorTeamId},</if>
      <if test="doctorId!= null">#{doctorId},</if>
    </trim>
    )
  </insert>

  <update id="updateByPrimaryKey">
    update doctor_team_member
    <set>
      is_deleted = #{isDeleted},
      gmt_modified = #{gmtModified},
      doctor_team_id = #{doctorTeamId},
      doctor_id = #{doctorId.value},
    </set>
    where id = #{ id } and doctor_id = #{doctorId.value}
  </update>

  <update id="updateByPrimaryKeySelective">
    update doctor_team_member
    <set>
      <if test="isDeleted!= null">is_deleted = #{isDeleted},</if>
      <if test="gmtCreated!= null">gmt_created = #{gmtCreated},</if>
      <if test="gmtModified!= null">gmt_modified = #{gmtModified},</if>
      <if test="doctorTeamId!= null">doctor_team_id = #{doctorTeamId},</if>
      <if test="doctorId!= null">doctor_id = #{doctorId},</if>
    </set>
    where id = #{ id }
  </update>

  <select id="findByPrimaryKey"
    resultType="org.caotc.unit4j.support.mybatis.model.DoctorTeamMemberDO">
    select
    <include refid="baseColumnList"/>
    from doctor_team_member where id = #{ id }
  </select>

  <delete id="deleteByPrimaryKey">
        delete from doctor_team_member
        where id = #{ id }
    </delete>

  <!-- 分页查询 start -->
  <sql id="queryCondition">
    <where>
      <if test="id!= null">and id= #{id}</if>
      <if test="doctorId!= null">and doctor_id= #{doctorId}</if>
      <if test="doctorTeamId!= null">and doctor_team_id= #{doctorTeamId}</if>
    </where>
  </sql>

  <!-- 分页查询 end -->

  <sql id="updateQueryCondition">
    <where>
      <if test="query.id!= null">and id= #{query.id}</if>
      <if test="query.doctorId!= null">and doctor_id= #{query.doctorId}</if>
      <if test="query.doctorTeamId!= null">and doctor_team_id= #{query.doctorTeamId}</if>
    </where>
  </sql>

</mapper>