<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2020 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.caotc.unit4j.support.mybatis.mapper.TestQuantityMapper">

    <resultMap id="TestAmountResultMap"
               type="org.caotc.unit4j.support.mybatis.model.TestQuantity">
        <id property="id" column="id"/>
        <result property="data" column="data"/>
    </resultMap>

    <sql id="baseColumnList">
        id
        ,data
    </sql>

    <insert id="insertSelective" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
            parameterType="org.caotc.unit4j.support.mybatis.model.TestQuantity">
        insert into test_amount(
        <trim suffixOverrides=",">
            <if test="data!= null">data,</if>
        </trim>
        )
        values (
        <trim suffixOverrides=",">
            <if test="data!= null">#{data},</if>
        </trim>
        )
    </insert>

    <update id="updateByPrimaryKeySelective">
        update test_amount
        <set>
            <if test="data!= null">data = #{data},</if>
        </set>
        where id = #{ id }
    </update>

    <select id="findByPrimaryKeyOnResultType"
            resultType="org.caotc.unit4j.support.mybatis.model.TestQuantity">
        select
        <include refid="baseColumnList"/>
        from test_amount where id = #{ id }
    </select>

    <select id="findByPrimaryKeyOnResultMap"
            resultMap="TestAmountResultMap">
        select
        <include refid="baseColumnList"/>
        from test_amount where id = #{ id }
    </select>

    <select id="findByPrimaryKeyOnTestAmountField"
            resultType="org.caotc.unit4j.support.mybatis.model.TestAmountField">
        select
        <include refid="baseColumnList"/>
        from test_amount where id = #{ id }
    </select>

    <delete id="deleteByPrimaryKey">
        delete from test_amount
        where id = #{ id }
    </delete>

    <!-- 分页查询 start -->
    <sql id="queryCondition">
        <where>
            <if test="id!= null">and id= #{id}</if>
            <if test="data!= null">and data= #{data}</if>
        </where>
    </sql>


</mapper>