<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (C) 2019 the original author or authors.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.caotc.unit4j.support.mybatis.mapper.TestAmountMapper">

  <resultMap id="DoctorTeamMemberMap"
    type="org.caotc.unit4j.support.mybatis.model.TestAmount">
    <id property="id" column="id"/>
    <result property="amountValue" column="amount_value"/>
    <association property="amountFlat" columnPrefix="amount_flat_" resultMap="amount">
    </association>
  </resultMap>

  <resultMap id="amount" type="org.caotc.unit4j.core.Amount">
    <!--    <constructor>-->
    <!--      <idArg column="value" javaType="org.caotc.unit4j.core.math.number.AbstractNumber"/>-->
    <!--      <idArg column="unit" javaType="org.caotc.unit4j.core.unit.Unit"/>-->
    <!--    </constructor>-->
    <id property="value" column="value"/>
    <id property="unit" column="unit"/>
  </resultMap>

  <sql id="baseColumnList">
        id,amount_value,amount_flat
    </sql>

  <insert id="insert" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    parameterType="org.caotc.unit4j.support.mybatis.model.TestAmount">
    insert into test_amount(
    <trim suffixOverrides=",">
      with_unit_value,
      gmt_created,
      with_unit_property,
      unit,
    </trim>
    )
    values (
    <trim suffixOverrides=",">
      #{withUnitValue},
      now(),
      #{withUnitProperty},
      #{unit}
    </trim>
    )
  </insert>

  <insert id="insertSelective" keyProperty="id" keyColumn="id" useGeneratedKeys="true"
    parameterType="org.caotc.unit4j.support.mybatis.model.TestAmount">
    insert into test_amount(
    <trim suffixOverrides=",">
      <if test="amountValue!= null">amount_value,</if>
      <if test="doctorId!= null">amount_flat,</if>
    </trim>
    )
    values (
    <trim suffixOverrides=",">
      <if test="amountValue!= null">#{amountValue},</if>
      <if test="doctorId!= null">#{doctorId},</if>
    </trim>
    )
  </insert>

  <update id="updateByPrimaryKey">
    update test_amount
    <set>
      amount_value = #{amountValue},
      amount_flat = #{amountFlat},
    </set>
    where id = #{ id } and amount_flat = #{amountFlat}
  </update>

  <update id="updateByPrimaryKeySelective">
    update test_amount
    <set>
      <if test="amountValue!= null">amount_value = #{amountValue},</if>
      <if test="doctorId!= null">amount_flat = #{doctorId},</if>
    </set>
    where id = #{ id }
  </update>

  <select id="findByPrimaryKeyOnResultType"
    resultType="org.caotc.unit4j.support.mybatis.model.TestAmount">
    select
    <include refid="baseColumnList"/>
    from test_amount where id = #{ id }
  </select>

  <select id="findByPrimaryKeyOnResultMap"
    resultMap="DoctorTeamMemberMap">
    select
    <include refid="baseColumnList"/>
    from test_amount where id = #{ id }
  </select>

  <delete id="deleteByPrimaryKey">
        delete from test_amount
        where id = #{ id }
    </delete>

  <!-- 分页查询 start -->
  <sql id="queryCondition">
    <where>
      <if test="id!= null">and id= #{id}</if>
      <if test="doctorId!= null">and amount_flat= #{doctorId}</if>
      <if test="amountValue!= null">and amount_value= #{amountValue}</if>
    </where>
  </sql>

  <!-- 分页查询 end -->

  <sql id="updateQueryCondition">
    <where>
      <if test="query.id!= null">and id= #{query.id}</if>
      <if test="query.doctorId!= null">and amount_flat= #{query.doctorId}</if>
      <if test="query.amountValue!= null">and amount_value= #{query.amountValue}</if>
    </where>
  </sql>

</mapper>